<!doctype html>
<html>
   <body style="background-color: #cde5fd; margin-top:20px; 
    font-family: monospace;  color: darkcyan">
   <h1 style="text-align: center">
   
      <h3>PROFIT REPORT</h3>

      <h4>Proceeds</h4>
      <p>{{p}}</p>

      <h4>Cost</h4>
      <p>{{c}}</p>

      <h4>Cost Details</h4>
      <h5>Total Purchase Price</h5>
      <p>{{tpp}}</p>

      <h4>Buy Commission = {{bc}}</h4>

      <h4>Sell Commission = {{sc}}</h4>

      <h4>Tax on Capital Gain = {{t}}</h4>

      <h4>Net Profit</h4>
      <p>{{np}}</p>

      <h4>Return on Investment</h4>
      <p>{{ri}}</p>

      <h4>To break even, you should have a final share price of</h4>
      <p>{{brk}}</p>

      
   </body>
</html>