<!DOCTYPE html>
<html>
<head>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	<title>Stock Profile Calculator</title>
</head>
<body style="background-color: #cde5fd; margin-top:20px; 
    font-family: monospace;  color: darkcyan">
	<h1 style="text-align: center">Stock Profile Calculator</h1>
<div class="container">
	<form class="col-md-5 col-md-offset-4" action = "http://localhost:5000/answer" method = "POST">
		<div class="form-group">
    		<label for="ticker_symbol">Ticker Symbol :</label>
    		<input type="text" class="form-control" name="ticker_symbol" required="true">
  		</div>
  		<div class="form-group">
    		<label for="allotment">Allotment :</label>
    		<input type="text" class="form-control" name="allotment" required="true">
  		</div>
  		<div class="form-group">
    		<label for="final_share_price">Final Share Price :</label>
    		<input type="text" class="form-control" name="final_share_price" required="true">
  		</div>
  		<div class="form-group">
    		<label for="sell_commission">Sell Commission :</label>
    		<input type="text" class="form-control" name="sell_commission" required="true">
  		</div>
  		<div class="form-group">
    		<label for="initial_share_price">Initial Share Price :</label>
    		<input type="text" class="form-control" name="initial_share_price" required="true">
  		</div>
  		<div class="form-group">
    		<label for="buy_commission">Buy Commission :</label>
    		<input type="text" class="form-control" name="buy_commission" required="true">
  		</div>
  		<div class="form-group">
    		<label for="capital_gain_tax_rate">Capital Gain Tax Rate :</label>
    		<input type="text" class="form-control" name="capital_gain_tax_rate" required="true">
  		</div>
	    <input type="submit" value="Get Results" class="btn btn-primary">
	</form>
</div>

</body>
</html>